<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>Cadastro de peças</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h3>Pagina de cadastro das pecas</h3>

  <form [formGroup] = "formGroup" (ngSubmit)="registerPeca(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome da peça*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class = "danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>valor inválido</p>
    <ion-item>
      <ion-label stacked>Peso Liquido</ion-label>
      <ion-input formControlName="pesoLiquido" type="number"></ion-input>
    </ion-item>
    <p class = "danger" *ngIf="formGroup.controls.pesoLiquido.dirty && formGroup.controls.pesoLiquido.errors" margin-left>valor inválido</p>
    <ion-item>
      <ion-label stacked>Peso Bruto</ion-label>
      <ion-input formControlName="pesoBruto" type="number"></ion-input>
    </ion-item>
    <p class = "danger" *ngIf="formGroup.controls.pesoBruto.dirty && formGroup.controls.pesoBruto.errors" margin-left>valor inválido</p>
    <ion-item>
    <ion-label stacked>Selecionar Carro*</ion-label>
      <ion-select formControlName="carroId">
        <ion-option *ngFor="let carro of carros"
         [value]="carro.id" >{{carro.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Cadastrar Peça</button>

  </form>
</ion-content>

